
.board {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    padding: 5px;
    gap: 5px;
}

.cell {
    width: 150px;
    height: 150px;
    border: 1px solid aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    color: black;
    font-size: 60px;
    background-color: white;
    transition: transform 1.5s ease;
}
.disabled {
    opacity: 0.5;
    cursor: default; 
    pointer-events: none; 
}
.rotate {
    transform: rotateY(180deg); 
}
.rotateBack{
    transform: rotateY(-180deg); 
}