.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top:50px;
    box-sizing: border-box;
}
.card{
    position: relative;
    display: flex;
    flex-direction: column;;
    width: 50%;
    background-color: rgb(77, 78, 78);
    margin-inline: 20px;
    border: black solid 2px;
    border-radius: 5px;
}
.title{

    text-align: center;
    margin: auto;
    margin-block: 15px;
    color: white;
}
.image{
    margin: auto;
    margin-block:15px;
    width: 90%;
    height: 90%;
    object-fit: contain;
}
.buttonGroup{   
    margin: auto;
    margin-bottom: 15px;
    padding: 10px;
}
.buttonGroup button{
    margin: 5px;
    padding-block: 10px;
    padding-inline: 25px;
    border-radius: 5px;
    border: #353a85 solid 2px;
    background-color: #4a52b8;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 3px 3px 3px black;
}
.buttonGroup button:hover{
    margin: 5px;
    padding-block: 10px;
    padding-inline: 27px;
    border-radius: 5px;
    border: #4a52b8 solid 2px;
    background-color: #353a85; 
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: white;
}